extends layout

block content

  h1 #{title}: #{bathingspot.name}
  
  if bathingspot_reports.length
  
    p #[strong Bevor diese Badestelle gelöscht werden kann, müssen alle zugehörigen Reporte gelöscht werden.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Reporte zu dieser Badestelle
    
      dl
      each report in bathingspot_reports
        dt 
          a(href=report.url) #{report.subject}
        dd #{report.description}

  else
    p Möchten Sie diese Badestelle wirklich löschen?
    
    form(method='POST' action='')
      div.form-group
        input#bathingspotid.form-control(type='hidden',name='bathingspotid', required='true', value=bathingspot._id )

      button.btn.btn-primary(type='submit') Löschen