extends layout

block content

  h1 Badestelle: #{bathingspot.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Reporte zu dieser Badestelle
    
    dl
    each report in bathingspot_reports
      dt 
        a(href=report.url) #{report.subject}
      dd #{report.description}

    else
      p Zu dieser Badestelle liegen keine Reporte vor.
      
  hr
  p
    a(href=bathingspot.url+'/delete') Badestelle löschen
  p
    a(href=bathingspot.url+'/update') Badestelle bearbeiten
