extends layout

block content

  h1 Kategorie: #{category.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Reporte mit dieser Kategorie #{category.name}
    
    ul
    each report in category_reports
      li 
        a(href=report.url) #{report.subject}
      | #{report.description}

    else
      p Diese Kategorie hat keine Reporte

  hr
  p
    a(href=category.url+'/delete') Kategorie löschen
  p
    a(href=category.url+'/update') Kategorie bearbeiten