extends layout

block content

  h1 Kategorie löschen: #{category.name}
  
  if category_reports.length
  
    p #[strong Bevor diese Kategorie gelöscht werden kann, müssen alle zugehörigen Reporte gelöscht werden.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Reporte mit dieser Kategorie
    
      dl
      each report in category_reports
        dt 
          a(href=report.url) #{report.title}
        dd #{report.description}

  else
    p Möchten Sie diese Kategorie wirklich löschen?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=category._id )

      button.btn.btn-primary(type='submit') Löschen