extends layout

block content
  h1= title
  
  ul
  each report in report_list
    li
      |Betreff: 
      a(href=report.url) #{report.subject}, 
      |Badestelle: 
      a(href=report.bathingspot.url) #{report.bathingspot.name}, 
      |Datum: #{report.date}

  else
    li Es liegen keine Reporte vor.