extends layout

block content
  h1= title
  
  ul
  each report in report_list
    li
      |Subject: 
      a(href=report.url) #{report.subject}, 
      |Bathingspot: 
      a(href=report.bathingspot.url) #{report.bathingspot.name}, 
      |Date: #{report.date}

  else
    li There are no reports.