extends layout

block content
  h1= title

  - var formatted_date = moment(Date.now()).format('DD.MM.YYYY, HH:mm:ss');

  form(method='POST' action='')
    div.form-group
      label(for='date') Date:
      input#date.form-control(type='text', placeholder='Date' name='date' required='true' value=formatted_date readonly )
    div.form-group
      label(for='subject') Subject:
      input#subject.form-control(type='text', placeholder='Subject of report' name='subject' required='true' value=(undefined===report ? '' : report.subject) )
    div.form-group
      label(for='bathingspot') Bathingspot:
      select#bathingspot.form-control(type='select', placeholder='Select bathingspot' name='bathingspot' required='true' )
        for bathingspot in bathingspots
          if report
            option(value=bathingspot._id selected=(bathingspot._id.toString()==report.bathingspot._id.toString() ? 'selected' : false) ) #{bathingspot.name}
          else
            option(value=bathingspot._id) #{bathingspot.name}
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='textarea', placeholder='Description' name='description' value=(undefined===report ? '' : report.description) required='true')  
    div.form-group
      label Category:
      div
        for category in categories
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked=category.checked )
            label(for=category._id) #{category.name}
    div.form-group
      label(for='firstname') Firstname:
      input#firstname.form-control(type='text', placeholder='Firstname' name='firstname' value=(undefined===report ? '' : report.firstname) )
    div.form-group
      label(for='lastname') Lastname:
      input#lastname.form-control(type='text', placeholder='Lastname' name='lastname' value=(undefined===report ? '' : report.lastname) )
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='text', placeholder='Email' name='email' value=(undefined===report ? '' : report.email) )
    div.form-group
      label(for='phone') Phone:
      input#phone.form-control(type='text', placeholder='Phone' name='phone' value=(undefined===report ? '' : report.phone) )
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
