extends layout

block content
  h1 #{report.subject}  
  p Report-ID: #{report.id}
  
  p #[strong Bathingspot:] 
    a(href=report.bathingspot.url) #{report.bathingspot.name}
  p #[strong Datum:] #{report.date}
  p #[strong Beschreibung:] #{report.description}
  p #[strong Kategorie:] 
    each val in report.category
      a(href=val.url) #{val.name}
      |, 
  p #[strong Kontaktdaten:]
  p #[strong Vorname:] 
    if (typeof(report.firstname) !== 'undefined')
      | #{report.firstname}
    else 
      | not given
  p #[strong Nachname:] 
    if (typeof(report.lastname) !== 'undefined')
      | #{report.lastname}
    else 
      | not given
  p #[strong E-Mail:] 
    if (typeof(report.email) !== 'undefined')
      | #{report.email}
    else 
      | not given
  p #[strong Telefonnummer:] 
    if (typeof(report.phone) !== 'undefined')
      | #{report.phone}
    else 
      | not given
        
  //- wie geht: - undefined===report.firstname ? 'bla' : report.firstname

  hr
  p
    a(href=report.url+'/delete') Report löschen
  p
    a(href=report.url+'/update') Report bearbeiten