extends user_layout

block content
  h1= title
  p Willkommen! Die mit * markierte Felder sind Pflichtfelder, alle weiteren können übersprungen werden.

  - var formatted_date = moment(Date.now()).format('DD.MM.YYYY, HH:mm:ss');
    
  form(method='POST' action='')
    div.form-group
      label(for='date') Datum:
      input#date.form-control(type='text', placeholder='Date' name='date' required='true' value=formatted_date readonly )
    div.form-group
      label(for='subject') Betreff*:
      input#subject.form-control(type='text', placeholder='Betreff des Reports' name='subject' required='true' value=(undefined===report ? '' : report.subject) )
    div.form-group
      label(for='bathingspot') Badestelle*:
      select#bathingspot.form-control(type='select', placeholder='Bitte Badestelle wählen' name='bathingspot' required='true' )
        for bathingspot in bathingspots
          if report
            option(value=bathingspot._id selected=(bathingspot._id.toString()==report.bathingspot._id.toString() ? 'selected' : false) ) #{bathingspot.name}
          else
            option(value=bathingspot._id) #{bathingspot.name}
    div.form-group
      label(for='description') Beschreibung*:
      input#description.form-control(type='textarea', placeholder='Bitte beschreiben Sie hier Ihr Anliegen' name='description' value=(undefined===report ? '' : report.description) required='true')  
    p Die folgenden Angaben sind freiwillig:

    div.form-group
      label Kategorie:
      div
        for category in categories
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked=category.checked )
            label(for=category._id) #{category.name}
    div.form-group
      label(for='firstname') Vorname:
      input#firstname.form-control(type='text', placeholder='Vorname' name='firstname' value=(undefined===report ? '' : report.firstname) )
    div.form-group
      label(for='lastname') Nachname:
      input#lastname.form-control(type='text', placeholder='Nachname' name='lastname' value=(undefined===report ? '' : report.lastname) )
    div.form-group
      label(for='email') E-Mail:
      input#email.form-control(type='email', placeholder='E-Mail' name='email' value=(undefined===report ? '' : report.email) )
    div.form-group
      label(for='phone') Telefonnummer:
      input#phone.form-control(type='tel', placeholder='Telefonnummer' name='phone' value=(undefined===report ? '' : report.phone) )
    button.btn.btn-primary(type='submit') Report versenden

  if errors 
    ul
      for error in errors
        li!= error.msg
